

body{
    background-color: peru;
}

header h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold';
    font-size: 100px;
    text-align: center;
}

header h1 img{
    zoom: 25%;
}


#menu{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 30px;
    text-align: center;
    
}

#tags{
    text-align: center;
    width: 40%;
    float: left;
    border-style: solid;
    border-width: 5px;
}

#posts{
    width: 60%;
    float: right;
    border-style: solid;
    border-width: 5px;
    
}

#posts h3{
    text-align: center;
}

footer{
    margin-top: 35px;
}