

body{
    background-color: peru;
}

header h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold';
    
    position: relative;
    text-align: center;
    margin-bottom: 30px;
}

img{
    margin-left: auto;
    margin-right: auto;
    height: 25%;
}

.container{
    position: relative;
    display: grid;
    width: 100%;
    height: 50%;
    grid-template: 1fr 3fr/1fr 1fr;
    grid-gap: 10px 10px;
    
}
#menu{
   position: relative;
    font-size: 30px;
    text-align: center;
    grid-area: 1/1/1/span 2; 
    border: 5px solid black;
    border-radius: 10px;
}

#menu ul a{
    margin-left: 5%;
    
}

#tags{
    text-align: center;
    border-radius: 10px;
    grid-area: 2/1/2/1;
    border: 5px solid black;
}

#tags p{
    margin-top: 20px;
    position: relative;
}

#posts{
    border-radius: 10px;
    border: 5px solid black;
    grid-area: 2/2/2/2;
}

#posts h3{
    text-align: center;
}

footer{
    margin-top: 15px;
    width: 97%;
    text-align: right;
    border-top: 5px solid black;
    margin-left: 1.5%;
}

footer p{
    display: inline-block;
    margin: 10px 15px;
}